<div>
        
        <div class="Page-box-title" style="display: flex;">
            
            <div class="page-title"> 
                <a href="#" style="margin-right:10 ; font-size: large; color: black;"> <i class="fas fa-arrow-left"></i> </a>
                <span>สินเชื่อ</span> 
            </div>
            
        </div>
        <div class="BOX_Title ">
    
                <div class="Head_Box">
                    <div style="padding: 5% 0 0 5%;">
                        <span>จำนวนสินเชื่อทั้งหมด</span>
                        <div style="display: flex;"> 
                            <h3>355</h3>
                            <h4 style="padding: 1% 0 0 5%;">สินเชื่อ</h4>
                        </div>
                        <span>อัพเดทครั้งล่าสุดเมื่อ 06.02 น.</span>
                    </div>
                </div>

                <div class="CreditInfomation" style="margin-top: 5%;">
                    <span>สินเชื่อ Citi Bank Personal Loan</span>
                    <div style="display: flex; font-size: small;">
                        <span>Citibank</span>
                        <a href="#" style="color: red; margin-left: 60%; ">แก้ไข</a>
                    </div>
                    
                    <div style="display: flex; margin-top: 2%;">
                        <div class="box-type">
                                <div class="CreditType">
                                        <span>
                                            ประเภท
                                        </span>
                                        <br>
                                        <span>
                                            ระยะเวลาการกู้
                                        </span>
                                        <br>
                                        <span>
                                            วงเงินกู้
                                        </span>
                                        <br>
                                        <br>
                                        <span>
                                            รายได้ขั้นต่ำ
                                        </span>
                                        <br>
                                        <span>
                                            ดอกเบี้ย
                                        </span>

                                </div>
                        </div>

                        <div class="box-info">
                                <div class="information">
                                        <span>
                                            สินเชื่อบุคคล
                                        </span>
                                        <br>
                                        <span>
                                            รวมอายุแล้วไม่เกิน 60 ปี
                                        </span>
                                        <br>
                                        <span>
                                            สูงสุด 5 เท่า ของรายได้ หรือไม่เกิน 1 ล้านบาท
                                        </span>
                                        <br>
                                        <span>
                                            20,000 บาท/เดือน
                                        </span>
                                        <br>
                                        <span>
                                            17%
                                        </span>
                                </div>
                        </div>

                    </div>

                    <div class="d-flex align-items-center">
                            <form class="form-inline"  class="d-flex align-items-center justify-content-center" style="width:100%;position:relative;margin:0;">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="border-radius: 100px; ">
                                    <label class="d-flex align-items-center justify-content-center" style="position:absolute;top:50%;right:20px;transform: translate(0, -50%);"><i class="fas fa-search"></i></label>
                            </form>
                    </div>
                    <a href="#" style="padding: 100% 0 0 90%;"> <i class="fas fa-filter"></i> </a>


                </div>
                <div style="margin-top: 35%;">
                        <div class="block_table" style="display: flex;" >
                            <div class="block_credit" >
                                <div style="padding: 4% 0 0 5%;">
                                        <div style="font-size: medium;">
                                            <span>สินเชื่อรถ</span>
                                        </div>
                                        <span>ธนาคารกสิกร</span>
                                </div>
                            </div>
        
                            <div class="block_percent d-flex align-items-center justify-content-center" style="display: flex;">
                                <span>ดอกเบี้ย </span>
                                <div style="font-size: large;">
                                        &nbsp;
                                        <span> 7%</span>
                                </div>
                                <div style="padding: 0 0 0 10%;"><i class="fas fa-angle-right"></i></div>
                            </div>
        
                        </div>
        
                        <div class="block_table" style="display: flex;" >
                                <div class="block_credit" >
                                    <div style="padding: 4% 0 0 5%;">
                                            <div style="font-size: medium;">
                                                <span>สินเชื่อรถ</span>
                                            </div>
                                            <span>ธนาคารกรุงศรี</span>
                                    </div>
                                </div>
            
                                <div class="block_percent d-flex align-items-center justify-content-center" style="display: flex;">
                                    <span>ดอกเบี้ย </span>
                                    <div style="font-size: large;">
                                            &nbsp;
                                            <span> 6%</span>
                                    </div>
                                    <div style="padding: 0 0 0 10%;"><i class="fas fa-angle-right"></i></div>
                                </div>
            
                        </div>
        
        
                    </div>
    
            </div>
    </div>