.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}


/* .BG_Home{
  background-color:white;
  background-image: url(image/m.png);
  background-repeat: no-repeat;
  background-position: -180px;
  background-size: 500px;
  height: 800px;
} */

/* .BG_login{
  background-color:black;
  background-image: url(image/m.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  height: 100%;
} */

/* .BG_regis{
  background-color:black;
  background-image: url(image/m.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 170%;
  height: 100%;
} */


  .menu-panel{
    width: 65vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .head-menu{
    background-color: #189bac;
    color: white;
    width: 65vw;
    height: 7vh;
  }

  .menu{
    color: black;
    background-color: white;
    width: 65vw;
  }

  .exit{
    color: black;
    background-color: white;
    width: 65vw;
  }
.dim-bg{
  background-color: black;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
}

.id-onnav{
  background-color: transparent;
  height: 5vh;
  width: 50vw;
  z-index: 2;
  position: absolute;
  top: 30%;
  margin-left: 55%;
}

.content-of-nav{

  width: 100vw;
}

.bg{
  width:100%;
  height: 100%;
  background-image: url('../m.png');
  background-repeat: no-repeat;
  background-position: -180px top;
  background-size: 500px;
  height: 100vh;
}
