@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

#body{
    margin-top: 15%;
    font-family: 'Prompt', sans-serif;
}
#boxall{
    display: block;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgba(126, 126, 126, 0.1);
    width: 90vw;
}
#block1{
    display: block;
    margin: auto;
    margin-top: 3%;
    color: #ffffff;
    border-radius: 20px;
    /* border: 1px solid	#808080; */
    background-color: #022D41;
    padding: 5%;
    width: 280px;
    
}

.Page-box-title{
    background-color: transparent;
    width: 100vw;
}

.page-title{
    font-size: 25px;
    color: black;
    padding: 0 0 0 15px;
    font-weight: bold;
}
#head{
    font-weight: bold;
    font-size: 21px ;
}
#text1{
    margin: 1%;
    font-size: 13px;
    margin-bottom: 0%;
}
#text2{
    float: right;
    
}
#text3{
    float: right;

}
#header{
    font-size: 20px;
    font-weight: bold;
}
#delete{
    float: right;
   
}
#add{
    margin: 5px;
    font-size: 14px;
    margin-left: 55%;
}

.empty{
    display: none;
}
