<div id="body">
    <div class= "Page-box-title">
      <label class="page-title">ค่าบริการรายเดือน</label>
    </div>


      <div id="boxall" class="row" style="padding:7% 0;">


    <div [ngClass]=" isEmpty ? 'empty' : 'container' ">

        <div id="block1" *ngFor ='let a of monthly_fee; let i = index'   class="col-xs-12">
        <div class="col-xs-12"  (click)="chooseMonthlyFee(a.fee_id)">
            <label id="head" style="font-size: 17px;"><b>{{a.fee_name}}</b></label>
            <label id="delete" (click)="delMonthlyFee()">x</label>
            <p id="text1">
                <label>ค่าบริการรายเดือน</label>
                <label id="text2"><b>{{a.fee_price}}</b> บาท/เดือน</label></p>
            <p id="text1">
                <label>ชำระภายในวันที่ {{a.fee_period}}</label>
                <label id="text3">เหลือเวลาอีก 5 วัน</label>
            </p>
          </div>
          </div>


    </div>
    <label [ngClass]=" isEmpty ? '' : 'empty' ">ไม่มีค่าบริการรายเดือน</label>

<a routerLink ='/add-monthly-fee' style="font-size: 13px; margin-left: 50%;">+ เพิ่มบริการรายเดือน</a>
</div>

</div>


